

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="./stylesheets/materialize.css">
    {{!-- <script type = "text/javascript" src = "https://code.jquery.com/jquery-2.1.1.min.js"></script>      --}}
    <script src="./javascripts/materialize.js"></script>
     
{{!-- <style>
#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#999;
}
</style> --}}
     <body>
    {{!-- <div class="carousel carousel-slider center" data-indicators="true">
    <a title="Cocina" class="carousel-item" href="#one!"><img src="./img/cocina.jpg" alt="" class="materialboxed responsive-img"></a>
    <a title="Computacion" class="carousel-item" href="#one!"><img src="./img/computacion.png" alt="" class="materialboxed responsive-img"></a>
    <a title="Electrodomesticos" class="carousel-item" href="#one!"><img src="./img/electrodomesticos.jpg" alt="" class="materialboxed responsive-img"></a>
    <a title="Hogar" class="carousel-item" href="#one!"><img src="./img/hogar.jpg" alt="" class="materialboxed responsive-img"></a>
    <a title="Muebles" class="carousel-item" href="#one!"><img src="./img/muebles.jpg" alt="" class="materialboxed responsive-img"></a>
    
    </div> --}}

<div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="./img/computacion.png"> <!-- random image -->
        <div class="caption left-align">
          <h3><a class="btn btn-small red accent-4" href="/ver">Computacion</a></h3>
          <h5 class="light grey-text text-lighten-3">Lo Mejor en Computo solo en PagoPago</h5>
        </div>
      </li>
      <li>
        <img src="./img/electrodomesticos.jpg"> <!-- random image -->
        <div class="caption right-align">
          <h3><a class="btn btn-small green accent-4" href="/ver">Electrodomesticos</a></h3>
          <h5 class="light grey-text text-lighten-3">Todo en Electrodomesticos</h5>
        </div>
      </li>
      <li>
        <img src="./img/hogar.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3><a class="btn btn-small blue accent-4" href="/ver">Hogar</a></h3>
          <h5 class="light grey-text text-lighten-3">El Mejor Hogar solo en PagoPago</h5>
        </div>
      </li>
      <li>
        <img src="./img/cocina.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3><a class="btn btn-large yellow accent-4" href="/ver">Cocina</a></h3>
          <h5 class="light grey-text text-lighten-3">Todo Para Tu Cocina</h5>
        </div>
      </li>
      <li>
        <img src="./img/muebles.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3><a class="btn btn-small grey darken-1" href="/ver">Muebles</a></h3>
          <h5 class="light grey-text text-lighten-3">Solo los Mejores Muebles</h5>
        </div>
      </li>
    </ul>
  </div>


     </body>
   

 
      <script>
        $(document).ready(function(){
          $('.slider').slider();

          {{!-- $('.slider').slider({
              full_width: true,
              interval: 13500
          }); --}}


          $('.carousel.carousel-slider').carousel(
            {
            fullscreen: true,
            indicators: true
            }
          );
          $('.materialboxed').materialbox();
        });
      </script>

         
